/* TypingAnimation.css */
.typingList {
  padding: 10px 20px;
  padding-right: 30px;
  list-style: disc;
}
.typingList h1,
.typingList strong {
  color: var(--main-color-900) !important;
}
.typingList p {
  color: var(--dark-color-900) !important;
}
.typingHeader {
  padding: 15px 0;
  color: var(--main-color-900);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  background-color: var(--dark-color-900);
  border-radius: 10px;
  text-align: center;
  border: 1px solid lightslategray;
}

.scrollContainer {
  scroll-behavior: smooth;
  overflow-y: auto; /* Enable vertical scrollbar */
  max-height: 100%; /* Limit the height of the container to its parent's height */
  box-sizing: content-box; /* Ensure padding doesn't affect the total width */
}

.typingCursor {
  /* Your typing cursor styling using Tailwind CSS classes */
  /* For example, you can create a circular cursor with a border-radius and animation */
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #333; /* Color of the cursor */
  border-radius: 50%;
  animation: typing-cursor-animation 0.7s infinite; /* Cursor animation */
}

@keyframes typing-cursor-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.smSlide * {
  line-height: 20px;
  padding: 0;
  margin: 0;
  font-size: 8px !important;
}
.smSlide {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
